<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="c:\users\sofia\desktop\carrentalwinformclient\carrentalwinformclient\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtTransportLevel="true" />
        </diagnostics>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_CustomerService">
                    <security mode="Message" />
                </binding>
                <binding name="NetTcpBinding_CarService">
                    <security mode="Message" />
                </binding>
                <binding name="NetTcpBinding_BookingService">
                    <security mode="Message" />
                </binding>
                <binding name="NetTcpBinding_CarLeasingService">
                    <security mode="Message" />
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_CustomerService" />
                <binding name="WSHttpBinding_BookingService" />
                <binding name="WSHttpBinding_CarService" />
                <binding name="WSHttpBinding_CarLeasingService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/customerService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_CustomerService" contract="CarRentalService.CustomerService"
                name="WSHttpBinding_CustomerService">
                <identity>
                    <userPrincipalName value="DESKTOP-6JDMH3L\Sofia" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/customerService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_CustomerService"
                contract="CarRentalService.CustomerService" name="NetTcpBinding_CustomerService">
                <identity>
                    <userPrincipalName value="DESKTOP-6JDMH3L\Sofia" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/carService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_CarService" contract="CarRentalService.CarService"
                name="WSHttpBinding_CarService">
                <identity>
                    <userPrincipalName value="DESKTOP-6JDMH3L\Sofia" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/carService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_CarService" contract="CarRentalService.CarService"
                name="NetTcpBinding_CarService">
                <identity>
                    <userPrincipalName value="DESKTOP-6JDMH3L\Sofia" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/bookingService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_BookingService" contract="CarRentalService.BookingService"
                name="WSHttpBinding_BookingService">
                <identity>
                    <userPrincipalName value="DESKTOP-6JDMH3L\Sofia" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/bookingService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_BookingService" contract="CarRentalService.BookingService"
                name="NetTcpBinding_BookingService">
                <identity>
                    <userPrincipalName value="DESKTOP-6JDMH3L\Sofia" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/leasingService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_CarLeasingService" contract="CarRentalService.CarLeasingService"
                name="WSHttpBinding_CarLeasingService">
                <identity>
                    <userPrincipalName value="DESKTOP-6JDMH3L\Sofia" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/leasingService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_CarLeasingService" contract="CarRentalService.CarLeasingService"
                name="NetTcpBinding_CarLeasingService">
                <identity>
                    <userPrincipalName value="DESKTOP-6JDMH3L\Sofia" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>