<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\users\sofia\desktop\carrental-sz\carrentalservicehost\app_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="c:\users\sofia\desktop\carrental-sz\carrentalservicehost\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <connectionStrings>
    <add name="CarRentalDB" connectionString="Data source=(localdb)\MSSQLLocalDB; Initial Catalog=CarRental; Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpMessage">
          <security mode="Message">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service name="CarRentalService.CarRentalService" behaviorConfiguration="mexBehavior">
        <endpoint address="customerService" bindingNamespace="http://sofiazaid.net/carRental/2018/11" binding="wsHttpBinding" contract="CarRentalService.ICustomerService">
        </endpoint>
        <endpoint address="customerService" bindingNamespace="http://sofiazaid.net/carRental/2018/11" binding="netTcpBinding" bindingConfiguration="netTcpMessage" contract="CarRentalService.ICustomerService">
        </endpoint>
        <endpoint address="carService" bindingNamespace="http://sofiazaid.net/carRental/2018/11" binding="wsHttpBinding" contract="CarRentalService.ICarService">
        </endpoint>
        <endpoint address="carService" bindingNamespace="http://sofiazaid.net/carRental/2018/11" binding="netTcpBinding" bindingConfiguration="netTcpMessage" contract="CarRentalService.ICarService">
        </endpoint>
        <endpoint address="bookingService" bindingNamespace="http://sofiazaid.net/carRental/2018/11" binding="wsHttpBinding" contract="CarRentalService.IBookingService">
        </endpoint>
        <endpoint address="bookingService" bindingNamespace="http://sofiazaid.net/carRental/2018/11" binding="netTcpBinding" bindingConfiguration="netTcpMessage" contract="CarRentalService.IBookingService">
        </endpoint>
        <endpoint address="leasingService" bindingNamespace="http://sofiazaid.net/carRental/2018/11" binding="wsHttpBinding" contract="CarRentalService.ICarLeasingService">
        </endpoint>
        <endpoint address="leasingService" bindingNamespace="http://sofiazaid.net/carRental/2018/11" binding="netTcpBinding" bindingConfiguration="netTcpMessage" contract="CarRentalService.ICarLeasingService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
            <add baseAddress="net.tcp://localhost:8090/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CarRentalRestService.CarRentalRestService" behaviorConfiguration="mexBehavior">
        <endpoint address="CarRental" binding="webHttpBinding" contract="CarRentalRestService.ICarRentalRestService" behaviorConfiguration="restEndPointBehavior">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8083/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restEndPointBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
    </serviceHostingEnvironment>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>